<h1> Create a new post </h1>

<!-- Not 100% on what action does but this is the template for making a new blog post -->
<form action ="/" method="POST">

	<Label>Title</Label>
	<input type="text" name="title">

	<label for="body">body</label>
	<textarea name="body"></textarea>

	<input type="submit" value="New post">

</form>