<!DOCTYPE html>
<html>
<head>
	<title>Main video page</title>
</head>
<body>

<h2> We have <%= @count %> videos</h2>

<!-- <ul>
	<% @videos.each do |videos| %>
		<div>
			<h3> <%= videos[:name] %> </h3>
			<p> <%= videos[:description] %> </p>
		</div>
	<% end %> -->

</body>
</html>